*.pyc
lightning_logs/*
.vscode
images/test.jpeg
alonet/deformable_detr/ops/build
alonet/deformable_detr/ops/dist
alonet/deformable_detr/ops/MultiScaleDeformableAttention.egg-info
aloscene/utils/oriented_iou/data
wandb/*
*.log
*.onnx
alonet/torch2trt/plugins/*/build
checkpoints/*
aloscene/utils/rotated_iou/data
aloscene/utils/rotated_iou/cuda_op/build
aloscene/utils/rotated_iou/cuda_op/dist
aloscene/utils/rotated_iou/cuda_op/sort_vertices.egg-info
docsource/build
build/*
build/*
docsource/build/*
tensorboard/*
**/.ipynb_checkpoints
*_Tutorial*
workspace.code-workspace
_sandbox/
