pycocotools==2.0.2
PyYAML==5.4.1
chardet==4.0.0
idna==2.10
more_itertools==8.8.0
requests==2.25.1
protobuf==3.17.3
pytorch_lightning==1.5.10
python-dateutil==2.8.2
urllib3==1.26.6
wandb==0.12.2
tqdm==4.62.3
captum==0.4.0
torchserve==0.4.2
torch-model-archiver==0.4.2
torch-workflow-archiver==0.1.2
